version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.9.0
    steps:
      - checkout
      - run:
          name: Checking Python Installed
          command: python --version
      - run:
          name: Upgrading PIP
          command: pip install --upgrade pip
      - run:
          name: Installing Requirements
          command: pip install -r requirements.txt
      - run:
          name: Robot Version Check
          command: robot --version


