version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.9.0
    steps:
      - checkout
      - run:
          name: Checking Python Installed
          command: python --version
      - run:
          name: Upgrading PIP
          command: pip install --upgrade pip
      - run:
          name: Installing Requirements
          command: pip install -r requirements.txt
      - run:
          name: Apt - GET 
          command: sudo apt-get install -y wget
      - run:
          name: Pulling Stable Chrome 
          command: sudo wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
      - run:
          name: Installing Chrome 
          command: sudo apt install ./google-chrome-stable_current_amd64.deb
      - run:
          name: Running Tests
          command: robot ebay.search.tests.robot
      - run:
          name: Check Results
          command: ls



