version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.9.0
    steps:
      - checkout
      - run:
          name: Checking Python Installed
          command: python --version
      - run:
          name: Upgrading PIP
          command: pip install --upgrade pip
      - run:
          name: Installing Poetry
          command: curl -sSL https://install.python-poetry.org | python3 -
      - run:
          name: Poetry lock file writing
          command: poetry lock
      - run:
          name: Poetry Installing
          command: poetry install


